
@inject HttpClient Http
@inject OidcService  oidc
<h2>Site List </h2>

@if (model == null && errorModel == null)
{
    <p><em>Loading...</em></p>
}
else if(model != null)
{

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Aliasid</th>
                <th>Folder</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var site in model.Data.SiteList)
            {
                <tr>
                    <td>
                        <a href='/siteadmin/companyinfo/@site.Id'>Edit</a>
                        @site.Id
                    </td>
                    <td>@site.SiteName</td>
                    <td>@site.AliasId</td>
                    <td>@site.SiteFolderName</td>
                </tr>
            }
        </tbody>
    </table>
}
<GraphQLErrors ErrorModel="@errorModel" Heading="Oops, something went wrong" />

@functions {

    SiteListModel model = null;
    ErrorModel errorModel = null;

    protected override async Task OnInitAsync()
    {
        var query = new GraphQLRequest
        {
            Query = GraphQLQueryConstants.SiteListQuery
        };

        await Http.AddBeaerTokenIfAuthenticated(oidc);
        var endPoint = await AppSettings.Get("graphqlApiUri");

        var result = await Http.SendQuery<SiteListModel>(endPoint, query);
        if(result.SuccessResult != null)
        {
            model = result.SuccessResult;
        }
        else if(result.Errors != null)
        {
            errorModel = result.Errors;
        }

    }

    class SiteListModel
    {
        public DataResult Data { get; set; }

        public class DataResult
        {
            public List<SiteDescriptor> SiteList { get; set; }
        }
    }

}
